@import '../../styles/_base.scss';
@import '../../styles/_common.scss';

.box1 {
    color: #576970;
    font-family: "微软雅黑";
    @include abTopLeft(340px, 183px, 0px, 0px);
    position: relative;
    background: url(../../images/vc/vc_bg.png);
    border-top: 1px solid #121212;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    h1{
        font-size: 20px;
        color: #ffffff;
        margin-top: 35px;
    }
    p{
        font-size: 12px;
        color: #ffffff;
        margin-top: 8px;
        span{
            color: #ffcf81;
        }
    }
    div.confirm{
        position: absolute;
        width: 108px;
        height: 32px;
        left: 50%;
        margin-left: -54px;
        bottom: 1px;
        color: #dbb77d;
        font-size: 14px;
        z-index: 10;
        cursor: pointer;
        line-height: 31px;
        text-align: center;
        background: url(../../images/pics/sprite_alert.png) no-repeat;
        background-position: 0px -261px;
        &:hover{
            color: #ffbd53;
            background-position: 0px -293px;
        }
        &:active{
            color: #dbb77d;
            background-position: 0px -325px;
        }
    }
}
.box2 {
    color: #576970;
    font-family: "微软雅黑";
    @include abTopLeft(306px, 233px, 0px, 0px);
    position: relative;
    background: black;
    border-top: 0;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
    img{
        @include abBottomLeft(300px, 230px, 0px, 0px);
    }
}